# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
/node_modules
/jspm_packages
/web_modules
/bower_components
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnpm-store

# Testing and coverage
/coverage
*.lcov
.nyc_output
lib-cov

# Next.js
/.next/
/out/

# Production builds
/build
/dist

# Framework and tool caches
.cache/
.parcel-cache
.nuxt
.output
.svelte-kit/
.vuepress/dist
.temp
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.vite/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Environment files
.env
.env.*
!.env.example

# Vercel
.vercel

# Misc
.DS_Store
*.pem
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.grunt
.lock-wscript
build/Release
.tern-port
.vscode-test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
